<div class="col-md-8 blog-main"> <!-- blog main start -->
  <h3 class="pb-4 mb-4 font-italic border-bottom">
    A Slice of Jimbo
  </h3>
  <%= link_to 'Write New Blog', new_blog_path if logged_in?(:site_admin) %><br><br>

  <nav class="blog-pagination">
    <%= paginate @blogs %>
  </nav>

  <%= render @blogs %>

  <nav class="blog-pagination">
    <%= paginate @blogs %>
  </nav>

</div>