<section class="jumbotron no-margin-bottom text-center">
  <div class="container">
    <h1>James Hubert's Works</h1>
    <p class="lead text-muted">These are the breathtaking works of extraordinary beauty, as recorded in Rails and stored in a Puma server.</p>
    <p>
      <%= link_to "About Me", about_path, class: 'btn btn-primary my-2' %>
      <%= link_to "Blog", blogs_path, class: 'btn btn-secondary my-2' %>
    </p>
  </div>
</section>