<main role="main" class="inner cover text-center">

	<div class="row">
		<div class="col-md-4">
			<%= image_tag "james_canoe.jpg", width: 200, alt:"Profile Image" %>
		</div>
		<div class="col-md-8">
			<h1>About Me</h1>
			<p>Born and raised in Seattle, WA and educated in the city's finest public schools from elementary through university, James is an urban dweller and lover of all things innovation, creativity, and diversity. After college James moved to the Bay Area to make his mark in tech, after four years in Silicon Valley with little mark made, James moved to and now resides happily in New York City where he writes software, rides the subway, and enjoys long jogs through Brooklyn's industrial neighborhoods and graveyards. Please reach out if you have an idea or want to chat.
			</p>
		</div>
	</div>
</main>