<main class="row text-center">
	<div class="col-md-5 col-vertical-align">
		<h1>Contact Us</h1>
		<p>Phone: 206-861-4102</p>
		<p>Email: jwhubert91@gmail.com</p>
		<p>Based in New York, NY</p>
	</div>
	<div class="col-md-7 col-vertical-align">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.3337519276874!2d-73.98921778509416!3d40.75468354294099!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259ab3c1ef289%3A0x3b67a41175949f55!2sJoe&#39;s%20Pizza!5e0!3m2!1sen!2sus!4v1575493681854!5m2!1sen!2sus" width="450" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
	</div>
</main>