<main class="inner cover text-center">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">Ruby on Rails was a hot framework in 2014. Can you make it hot again with this new page using Bootstrap?</p>
  <p class="lead">
    <%= link_to "Learn more", about_path, class: "btn btn-lg btn-secondary"%>
  </p>
</main>